<section class="books-container">
    <%- include('../../layout/edit')%>

    <%books.forEach(element=>{%>
        <div class="book-item">
            <br>
            <img class="book-img" src="<%=element.image_url%>">
            <br>
            <br>
            <br>
            <p class="book-title">
                <%=element.title%>
            </p><br>
            <p class="book-author">
                <%=element.author%>
            </p><br>
           
            <p class="book-desc">
                <%=element.description%>
            </p><br>
            <div>
                <input type="submit" id="update-button" value="UPDATE">
                <br>
                <br>
                <form action="/books/<%=books[0].id%>?_method=DELETE" method="POST">
                    <input type="submit" id="delete-button" value="DELETE">
                </form> 
            </div>
            
        </div>
        <%})%>
</section>