<section class="books-container">
    <%- include('../../layout/edit')%>

    <%books.forEach(element=>{%>
        <div class="book-item">
            <br>
            <img class="book-img" src="<%=element.image_url%>">
            <br>
            <p class="book-title">
                <%=element.title%>
            </p><br>
            <p class="book-author">
                <%=element.author%>
            </p><br>
           
            <p class="book-desc">
                <%=element.description%>
            </p><br>
            <button id="update-button">update this book</button>
            <form action="/books/<%=books[0].id%>?_method=DELETE" method="POST">
                <input type="submit" id="delete-button" value="delete this book">
            </form>
        </div>
        <%})%>
</section>