<section class="books-container">
    <div class="book-info">
        <h1> <%=books.length%> Saved Book</h1>
    </div>
    <%books.forEach(element=>{%>
        <div class="book-item">
            <br>
            <img class="book-img" src="<%=element.image_url%>">
            <br>
            <br>
            <br>
            <p class="book-title">
                <%=element.title%>
            </p><br>
            <p class="book-author">
                <%=element.author%>
            </p><br>   
            <form action="/books/<%=element.id%>" method="GET">
               <input class="btn-detail" type="submit" value="details">
            </form> 
        </div>   
        <%})%>
</section>