<section class="books-container">
    <header>
        <%=books.length%>
            <h1>Saved Book</h1>
    </header>
    <%books.forEach(element=>{%>
        <div class="grid-item">
            <br>
            <img class="book-img" src="<%=element.image_url%>">
            <br>
            <p class="book-title">
                <%=element.title%>
            </p><br>
            <p class="book-author">
                <%=element.author%>
            </p><br>
           
            <p class="book-desc">
                <%=element.description%>
            </p><br>
            
        </div>
        <%})%>
</section>